#loader {
  position: fixed;
  inset: 0;

  background: #020617;

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 9999;
}

#loader img {
  width: min(60vw, 420px);
  height: auto;

  animation: pulse 1.8s ease-in-out infinite;
}
